{% extends "blog/layout.html" %}
{% block content %}

<br>
<h4>Acerca de nosotros</h4>
<br>
<p>Garantizar las propiedades únicas de la naturaleza.

    Los procesos de investigación, desarrollo, elección de materia prima y control exhaustivo de la producción reúnen a un experimentado equipo de profesionales de distintas especialidades (médicos, nutricionistas, ingenieros químicos, bromatólogos), para garantizar en cada producto las propiedades únicas de la naturaleza y la máxima calidad de elaboración acorde a estándares internacionales.
    
    La selección, recepción y manipulación de materia prima responde a estrictas normas operativas. Un sinnúmero de investigaciones y ensayos respaldan el desarrollo de todo producto nuevo, con sucesivos ajustes en la formulación hasta alcanzar los parámetros deseados. Cada línea de productos Grandiet cuenta con la aprobación de los organismos oficiales pertinentes y es sometida a procesos de mejora y prueba continua, a fin de asegurar y potenciar en todo momento sus cualidades naturales propias y la mejor calidad del mercado.</p>

    <br>
    <a href="{% url 'sitio:index'%}" role="button"> Volver </a>
{% endblock %}
