{% extends "blog/layout.html" %}
{% block content %}
<br>
<h4>Resultado de búsqueda</h4>
<br>

<div class="list-group">
    {% for un_producto in lista_productos %}  
        {% if user.is_staff %}   
            <a href="{% url 'sitio:producto_edicion' un_producto.id %}" class="list-group-item list-group-item-action" aria-current="true"> 
        {% else %}  
            <a href="{% url 'sitio:producto_vista' un_producto.id %}" class="list-group-item list-group-item-action" aria-current="true"> 
        {% endif %}   
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{un_producto.titulo}}</h5>
                </div>
                <p class="mb-1">{{un_producto.descripcion}}</p>
            </a>
    {% empty %}
        <li  class="list-group-item">No hay productos en esta categoría.</li>
    {% endfor %}
  </div>

<br>
<br>
{% endblock %}
