{% extends "blog/layout.html" %}
{% block content %}
<br>
<h4>Carrito</h4>
  
<br>

<div class="table-responsive">
    <b>Usuario: {{ user.get_username }}</b> 
    <br><br>
    <table class="table align-middle">
      <tbody>
        {% for un_producto in lista_carrito %}
        <tr>
          <td class="align-top"><h6>{{un_producto.producto.id}}.{{un_producto.producto.titulo}}</h6></td>
          <td class="align-top"><p>{{un_producto.producto.descripcion}}</p></td>
          <td class="align-top"><b>${{un_producto.producto.precio}}</b></td>
          <td class="align-top"><a class="btn btn-primary btn-sm" href="{% url 'sitio:carrito_eliminar' un_producto.producto.id %}" role="button">Eliminar</a></td>
        </tr>
        {% empty %}
            <li>No hay productos en tu carrito..</li>
        {% endfor %}
      </tbody>
    </table>
  </div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  {% if lista_carrito.count > 0 %}    
    <a class="btn btn-primary btn-sm" href="{% url 'sitio:carrito_vaciar' %}" role="button">Vaciar carrito</a></td>
    <a class="btn btn-primary btn-sm" href="" role="button">Finalizar compra</a></td>
  {% endif %}
  </div>

<br>
{% endblock %}
