{% extends "blog/layout.html" %}
{% block content %}
<br>
<h4>Productos</h4>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for un_producto in lista_productos %}
        {% if forloop.counter < 4 %}
        <div class="col">
            <div class="card h-80 text-center">                 
                <div class="card-body">
                    <h5 class="card-title" >{{un_producto.titulo}}</h5>    
                    <img src="{{ media_url  }}{{ un_producto.imagen.url }}" class="card-img-top" alt="producto" width="100" height="240">    
                </div>
                <div class="card-footer">
                    {% if user.is_staff %}    
                        <a class="btn btn-primary btn-sm" href="{% url 'sitio:producto_edicion' un_producto.id %}" role="button"> Ver </a>  
                    {% else %}  
                        <a class="btn btn-primary btn-sm" href="{% url 'sitio:producto_vista' un_producto.id %}" role="button"> Ver </a>
                    {% endif %}   
                </div>
            </div>
        </div>      
        {% endif %}
    {% endfor %}
    </div>
    <br>
    <h5>Más Productos</h5>
    <br>
    <div class="list-group">
        {% for un_producto in lista_productos %}
            {% if forloop.counter > 3 %}   
                {% if user.is_staff %}   
                    <a href="{% url 'sitio:producto_edicion' un_producto.id %}" class="list-group-item list-group-item-action" aria-current="true"> 
                {% else %}  
                    <a href="{% url 'sitio:producto_vista' un_producto.id %}" class="list-group-item list-group-item-action" aria-current="true"> 
                {% endif %}   
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{un_producto.titulo}}</h5>
                        </div>
                        <p class="mb-1">{{un_producto.descripcion}}</p>
                    </a>
            {% endif %}
        {% empty %}
            <li  class="list-group-item">No hay productos en esta categoría.</li>
        {% endfor %}
      </div>
     
    <br>
    <br>
{% endblock %}