{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{% static 'scripts.js' %}"></script>     
        <title>Venta de hiervas medicinales</title>
        
    </head>
    <body>     
        <div class="container">

            <!-- Cabecera--> 
            <header id="cabecera">                
                <div id="bloque_login">
                    {% if user.is_authenticated %}
                        Bienvenido {{ user.get_username }}! <a role="button" class="btn btn-outline-warning btn-sm" href="{% url 'logout'%}?next={{request.path}}">Salir</a>
                        {% if not user.is_staff %}
                        <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'sitio:carrito_vista' %}">Carrito</a>
                        {% endif %}    
                    {% else %}                  
                        <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'login'%}?next={{request.path}}">Acceder</a>
                        <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'sitio:registrarse' %}">Registrarse</a>
                    {% endif %}                     
                </div>   
                <h1><img src="{% static 'Logo.png' %}" width="250" height="40" top="100"></h1>                  
            </header>
          
            <!-- Barra de menú -->   
            <nav class="navbar navbar-expand-lg" style="background-color: #e8f1fa;">
                <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'sitio:index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for categoria in lista_categorias %}
                                <li><a class="dropdown-item" href="{% url 'sitio:filtro_categorias' categoria.id%}">{{ categoria }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sitio:acerca_de' %}">Acerca de...</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:jaguaretekaa@test.com.ar">Contacto</a>    <a href=></a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sitio:producto_alta'%}" tabindex="-1">Nuevo Producto</a>
                    </li>
                    {% endif %}
                    </ul>
                    <form class="d-flex" action="{% url 'sitio:filtro_busqueda'%}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search" name="buscador" value="{{ request.GET.buscador }}">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
                </div>
            </nav>      

            {% block content %}
            {% endblock %}
            <footer>
                <div id="pie-pag">
                    <h7>Copyright © 2021 JAGUARETE KAA S.A.</h7><br>
                    <h7>Desarrollado por Mauro Favero</h7>
                </div>                
            </footer>    
        </div>
 


    </body>
</html>