{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h4>Crear Producto</h4>
<form enctype="multipart/form-data" action="{% url 'sitio:producto_alta' %}" method="post" >
    {% csrf_token %}
    {{ form | crispy }} 
    <br>
    <div class="col-auto">
        <input type="submit" class="btn btn-primary" value="Guardar">
    </div>
</form>

<br>
{% endblock %}
