{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h4>Modificar producto</h4>
<a class="btn btn-primary btn-sm" href="{% url 'sitio:producto_eliminacion' producto.id %}" role="button"> Eliminar </a>

<br>
<form enctype="multipart/form-data" action="{% url 'sitio:producto_edicion' producto.id %}" method="post" >
    {% csrf_token %}
    {{ form | crispy }} 
    <br>
    <div class="col-auto">
        <input type="submit" class="btn btn-primary" value="Guardar">
    </div>
</form>

<br>
{% endblock %}
