{% extends "blog/layout.html" %}
{% block content %}
<br>
<h4>Producto: {{ producto.titulo }}</h4>

<div class="container">
    <div class="row">
      <div class="col order-last">           
            <br>      
            <h5>{{ producto.categoria }}</h5>       
            <p id="contenido">Descripción: {{ producto.descripcion |safe }}</p>

            <div class="container">
                <div class="row">
                  <div class="col order-last">
                    {% if user.is_authenticated and not user.is_staff %}
                    <a class="btn btn-outline-primary" href="{% url 'sitio:carrito_agregar' producto.id %}" role="button"> Agregar al carrito </a>   
                    {% endif %}
                  </div>
                  <div class="col order-first">
                    <h6>Precio:  $ {{ producto.precio }}</h6> 
                  </div>
                </div>
              </div>
            <br>       
      </div>
      <div class="col order-first">
            <br>
            <p><img src="{{ media_url  }}{{ producto.imagen.url }}" alt="{{ producto.imagen.name }}"  width="350" height="300" /></p>
            <br><br>  
      </div>
    </div>
  </div>


{% endblock %}
