{% extends "blog/layout.html" %}

{% block content %}

{% if form.errors %}
<p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
{% endif %}

<div class="wrapper fadeInDown">
  <div id="formContent">

  <h3>Acceder a la web</h3>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {{ form.username }}
    {{ form.password }}

    <div>
      <input type="submit" class="fadeIn fourth" value="ACCEDER" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>

  {# Asume que configuras la vista password_reset en tu URLconf #}

  <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

  {% endblock %}

  </div>
</div>