{% extends "blog/layout.html" %}
{% block content %}

  <h2>Formulario de Registro</h2>
  <form method="post">
    {% csrf_token %}
    {% for campo in form %}
      <p>
        {{ campo.label_tag }}<br>
        {{ campo }}
        {% if campo.help_text %}
          <small style="color: grey">{{ campo.help_text }}</small>
        {% endif %}
        {% for error in campo.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Confirmar Registro</button>
  </form>
  
{% endblock %}